<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="RateCalculatorWebServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="RateCalculatorWebServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44345/RateCalculatorWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="RateCalculatorWebServiceSoap"
                contract="RateCalculatorServiceReference.RateCalculatorWebServiceSoap"
                name="RateCalculatorWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>